$primary-color:#17B0C3;
$title-color:#00B4B1;
$h-color:#444444;
$normal_black:#777777;
$white:rgba(255,255,255,1);
$black:rgba(0,0,0,1);
$transition: all 0.2s ease-in-out;
$transition-two: all 0.5s ease-in-out;
$shadow:5px 5px 60px 0px rgba( 45, 19, 106, 0.2);
$shadow-two:0px 8px 20px 0px rgba(45, 19, 106, 0.1);
$shadow-three:0px 8px 20px 0px rgba(45, 19, 106, 0.3);